*{
    margin: 0;
    font-family: sans-serif;
}
.header{
    background-color: royalblue;
    height: 40px;
    font-size: 2em;
    color: white;
    padding: 20px;
}

.todoform{
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

.todoinput{
    width: 80%;
    font-size: 1.3em;
    margin: 10px auto;
    padding: 5px;
    border: none;
    border-bottom: 1px orange solid;
}

.todobutton{
    border: none;
    background-color: green;
    color: white;
    padding: 5px 20px;
    font-size: 1.2em;
    border-radius: 5px;   
}

.todoitem{
    margin: auto;
    border: 2px solid whitesmoke;
    padding: 20px;
    margin-top: 20px;
}

.todoname{

}

.deletebutton{
    border: none;
    background-color: red;
    color: white;
    padding: 5px 20px;
    font-size: 1.2em;
    border-radius: 5px;
}